body
{
	margin:0px;
	font-size:14px;
	font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
#main_bd
{
	max-width:600px;
	margin:0 auto;
	padding:20px;
}
.header
{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: #e45d02;
    margin-bottom: 15px;
}
.tb
{
	display:table;
	width:100%;
}
.tc
{
	width:50%;
	display:table-cell;
	vertical-align: bottom;
    height: 110px;
}
.icon
{
	padding:15px;
}
.rl
{
	position:relative;
}
.iname
{
    text-align: center;
    font-size: 15px;
    color: #9c9c9c;
	margin-top:15px;
}
#brand-icons
{
	margin-top:20px;
}

#heart:before,#heart:after,#notif:before,#notif:after,#search:after,#home:before,#home:after,#message:after,#camera:before,#camera:after,#video:after,#folder:after,
#add_more:before,#add_more:after,#remove:before,#close:before,#close:after,#info:before,#info:after,#trash:before,#trash:after,#file:before,#locked:after,#locked:before,
#unlocked:before,#unlocked:after,.dir:before,.dir:after,#edit:before,#download:after,#download:before,#retweet:before,#retweet:after,#history:before,#history:after,
#facebook:before,#facebook:after,#fb:after,#flickr:before,#flickr:after,#skype:before,#skype:after,#instagram:before,#instagram:after,#beats:before,#beats:after,
#linkedin:before,#linkedin:after,#in:before,#in:after
{
	content:'';
	display:inline-block;
}

#heart
{
    width: 43px;
    margin: 0 auto;
	position: relative;
    left: 3px;
}

#heart:before
{
    height: 15px;
    padding: 10px 12px;
    background-color: #525252;
    border-radius: 12px 12px 0px 0px;
    transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
}
#heart:after
{
    position: absolute;
    left: 11.2px;
    height: 15px;
    padding: 10px 12px;
    background-color: #525252;
    border-radius: 12px 12px 0px 0px;
    transform: rotate(-50deg);
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
}
#notif
{
	width:30px;
	height:32px;
	background-color:#525252;
	margin:0 auto;
	border-radius:20px 20px 0px 0px;
	transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
}
#notif:before
{
    width: 10px;
    height: 7px;
    background-color: #525252;
    position: absolute;
    top: -3px;
    left: 10px;
    border-radius: 14px 14px 0px 0px;
}
#notif:after
{
    border: 5.5px solid #9c9c9c;
    position: absolute;
    top: 35px;
    left: 14px;
    border-radius: 50%;
}
#search
{
    width: 22px;
    height: 22px;
    margin: 0 auto;
    border-radius: 50%;
    border: 6px solid #525252;
}
#search:after
{
    width: 6px;
    height: 17px;
    background-color: #525252;
    position: absolute;
    top: 14px;
    right: -9px;
    border-radius: 4px;
    transform: rotate(-55deg);
}
#home
{
    width: 30px;
    height: 22px;
    margin: 0 auto;
    background-color: #525252;
}
#home:before
{
    border: 10px solid transparent;
    border-width: 0px 19px 19px 19px;
    border-bottom-color: #525252;
    position: absolute;
    left: -4px;
    top: -15px;
}
#home:after
{
    width: 6px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}
#message,#camera,#video,#folder
{
	width:43px;
	height:26px;
	background-color:#525252;
	border-radius:4px;
	margin:0 auto;
}
#message:after
{
	border: 14px solid transparent;
    border-top-color: #525252;
    border-left-color: #525252;
    position: absolute;
    bottom: -7px;
    right: 0px;
}
#camera
{
	height: 26px;
    width: 40px;
}
#camera:before,#folder:after
{
    width: 17px;
    height: 7px;
    background-color: #525252;
    position: absolute;
    top: -5px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    border-radius: 4px;
}
#camera:after
{
    width: 16px;
    height: 16px;
    background-color: #fff;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    margin: 0 auto;
    margin-top: -8px;
    border-radius: 50%;
}
#video
{
	width:38px;
}
#video:after
{
	border: 10px solid transparent;
    border-right-color: #525252;
    border-width: 10px 25px;
    position: absolute;
    right: -10px;
    top: 50%;
    margin-top: -10px;
}
#folder
{
	height:28px;
}
#folder:after
{
    right: auto;
    left: 5px;
    height: 5px;
    top: -6px;
    width: 20px;
    border-radius: 4px 4px 0px 0px;
}
#add_more,#remove,#close,#info,.dir
{
	width:40px;
	height:40px;
	margin:0 auto;
	background-color:#525252;
	border-radius:50%;
}
#add_more:before,#add_more:after,#remove:before,#close:before,#close:after,#info:before
{
    width: 20px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -2px;
}
#add_more:after,#info:before
{
	transform:rotate(90deg);
}
#close:before
{
	transform:rotate(45deg);
}
#close:after
{
	transform:rotate(-45deg);
}
#info:before
{
	width:14px;
	margin-left:-7px;
	margin-top:3px;
}
#info:after
{
	width: 6px;
    height: 6px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    position: absolute;
    margin-top: 8px;
    background-color: #fff;
    border-radius: 50%;
}
#trash
{
    width: 32px;
    height: 36px;
    background-color: #525252;
    border-radius: 0px 0px 4px 4px;
    margin: 0 auto;
}
#trash:before
{
    width: 13px;
    height: 5px;
    position: absolute;
    top: -6px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    background-color: #525252;
    border-radius: 4px 4px 0px 0px;
}
#trash:after
{
    width: 38px;
    height: 3px;
    position: absolute;
    top: 0px;
    left: -3px;
    background-color: #525252;
}
#file
{
    width: 25px;
    height: 30px;
    margin: 0 auto;
    border: 5px solid #525252;
}
#file:before
{
    border: 7px solid rgb(255, 255, 255);
    border-color: #525252 white white #525252;
    position: absolute;
    top: -5px;
    right: -5px;
    transform: rotate(-90deg);
}
#locked,#unlocked
{
	width:36px;
	height:28px;
	background-color:#525252;
	margin:0 auto;
}
#locked:before,#unlocked:before
{
    width: 4px;
    height: 8px;
    background-color: #fff;
    position: absolute;
    bottom: 4px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}
#locked:after,#unlocked:after
{
    width: 14px;
    height: 11px;
    border: 5px solid #525252;
    border-width: 5px 5px 0px 5px;
    border-bottom-color: transparent;
    border-radius: 14px 14px 0px 0px;
    position: absolute;
    top: -15px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}
#unlocked:after
{
	left:24px;
}
.hole
{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}
.dir:before
{
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 10px;
    margin: 0 auto;
}
.dir:after,#download:after
{
    width: 0px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}
.dir.right
{
	transform:rotate(90deg);
}
.dir.bottom
{
	transform:rotate(180deg);
}
.dir.left
{
	transform:rotate(270deg);
}
#edit
{
    width: 35px;
    height: 10px;
    background-color: #525252;
    margin: 0 auto;
    transform: rotate(-45deg);
	top:-15px;
}
#edit:before
{
	border: 4px solid transparent;
    border-bottom-color: #525252;
    border-left-color: #525252;
    position: absolute;
    top: 1px;
    left: -7px;
    transform: rotate(45deg);
    height: 0px;
}
#download
{
	width:40px;
	height:8px;
	background-color:#525252;
	margin:0 auto;
}
#download:after
{
	border-bottom-color:#525252;
	transform:rotate(180deg);
	top:-12px;
}
#download:before
{
    width: 8px;
    height: 15px;
    background-color: #525252;
    margin: 0 auto;
    position: absolute;
    top: -27px;
    left: 0px;
    right: 0px;
}
#retweet
{
	width:26px;
	height:16px;
	border:6px solid #525252;
	margin:0 auto;
}
#retweet:before,#retweet:after
{
    border: 10px solid #fff;
    border-bottom-color: #525252;
    position: absolute;
    top: -16px;
    left: -13px;
}
#retweet:after
{
    left: auto;
    right: -13px;
    top: auto;
    bottom: -16px;
    transform: rotate(180deg);
}
#history
{
	width:28px;
	height:28px;
	border:6px solid #525252;
	border-radius:50%;
	margin:0 auto;
}
#history:before,#history:after
{
    width: 14px;
    height: 6px;
    background-color: #525252;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3px;
}
#history:after
{
    transform: rotate(90deg);
    top: 10px;
    margin-left: -7px;
}
#facebook,#linkedin
{
	width:40px;
	height:40px;
	margin:0 auto;
	background-color:#3b5998;
	border-radius:4px;
}
#facebook:before
{
    width: 6px;
    height: 28px;
    border: 6px solid #fff;
    border-color: #fff transparent transparent #fff;
    position: absolute;
    bottom: -6px;
    border-top-left-radius: 8px;
    left: 22px;
}
#facebook:after
{
    width: 18px;
    height: 6px;
    background-color: #fff;
    position: absolute;
    top: 18px;
    right: 5px;
}
#fb
{
	width:6px;
	height:6px;
	background-color:#3b5998;
	position:absolute;
	top:6px;
	right:0px;
}
#fb:after
{
    width: 6px;
    height: 6px;
    background-color: #3b5998;
    position: absolute;
    top: 12px;
    right: 0.8px;
    transform: skewX(-10deg);
    z-index: 1;
}
#flickr
{
	width:38px;
	height:38px;
	margin:0 auto;
	border:1px solid #cdcdcd;
	border-radius:4px;
}
#flickr:before,#flickr:after
{
	width: 12px;
    height: 12px;
    background-color: #0063dd;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 4.6666667px;
}
#flickr:after
{
	background-color:#ff0384;
	left:auto;
	right:4.6666667px;
}
#skype
{
    width: 35px;
    height: 35px;
    background-color: #00aff0;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 30px;
    line-height: 35px;
	font-family:sans-serif;
    font-weight: bold;
}
#skype:before,#skype:after
{
    width: 22px;
    height: 22px;
    background-color: #00aff0;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: -1px;
    z-index: -1;
}
#skype:after
{
	left:auto;
	right:-1px;
	top:auto;
	bottom:-2px;
}
#instagram
{
    width: 32px;
	height:19px;
    margin: 0 auto;
    border: 4px solid #275a85;
    border-top-width: 17px;
    border-radius: 4px;
}
#instagram:before
{
    width: 7px;
    height: 7px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -11px;
    right: 0px;
}
#instagram:after
{
	width: 15px;
    height: 15px;
    border: 4px solid #275a85;
    position: absolute;
    top: -6px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 50%;
}
#beats
{
	width:40px;
	height:40px;
	margin:0 auto;
	background-color:#e3351c;
	border-radius:50%;
}
#beats:after
{
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    margin-top: 8px;
    border: 5px solid #fff;
    border-radius: 50%;
}
#beats:before
{
    width: 5px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    left: 8px;
}
#linkedin
{
	background-color:#0b77b7;
}
#linkedin:before,#in
{
    width: 7px;
    height: 17px;
    background-color: #fff;
    position: absolute;
    left: 7px;
    bottom: 7px;
}
#linkedin:after
{
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 6px;
}
#in
{
	left:18px;
}
#in:before
{
	width:5px;
	border:6px solid #fff;
	border-width:6px 6px 0px 4px;
	position:absolute;
	right:6px;
	bottom:6px;
	border-radius:10px 10px 0px 0px;
}